*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

.curso-section {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-bottom: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.curso-section h3 {
    margin-bottom: 10px;
}

.curso-section img {
    margin-left: 35px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.curso-detalle__descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 35px;
    gap: 0.7em;
}

.curso-detalle-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.curso-detalle-item span {
    font-size: 16px;
    font-weight: bold;
}

.curso-detalle-item p {
    text-align: justify;
}

.caja-curso {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

summary {
    font-size: 18px;
    padding: 15px;
    background-color: #d87eff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    user-select: none;
}

summary:focus {
    outline: none;
}

details[open] summary::after {
    content: "▲";
    position: absolute;
    right: 20px;
    font-size: 12px;
}

summary::after {
    content: "▼";
    position: absolute;
    right: 20px;
    font-size: 12px;
}

details .menu-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 0 0 15px;
}

details[open] .menu-content {
    max-height: 500px; 
    padding: 10px 0 10px 15px;
}

.subopcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.subopcion .texto {
    flex-grow: 1;
    margin-left: 10px;
}

.duracion {
    font-size: 14px;
    color: #666;
}

input[type="checkbox"] {
    accent-color: lightgreen;
    width: 20px;
    height: 20px;
}

.menu-container {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



.menu-content .subopcion {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: black;
}

.menu-content .subopcion:last-child {
    border-bottom: none;
}

.subopcion .texto {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.subopcion .texto .duracion {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}

.subopcion .texto .duracion img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.subopcion input[type="checkbox"] {
    accent-color:  #d87eff;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.botones-detalle-curso{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}
.boton-comprarParaMi {
    display: flex;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.boton-inscripcion-empresa {
    display: flex;
    padding: 10px 20px;
    background-color: #a613e6;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.boton-inscripcion-empresa:hover{
    background-color: #d87eff;
}

.docente-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 35px;
    padding: 30px;
    background-color: darkgray;
    margin-top: 5px;
}

.docente-section img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 30px;
}

.docente-section h3 {
    text-align: center;
    margin: 10px;
}

.docente-perfil {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.docente-perfil h4 {
    margin-bottom: 5px;
}

.rating {
    display: inline-block;
    color: gold;
    border: 1px black;
    margin-bottom: 5px;
}

.rating .far {
    color: lightgray;
}

.docente-perfil p {
    font-size: 14px;
    font-style: italic;
}

.cursos-relacionados-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #f9f9f9;
    margin: 35px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}

.modal-container{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cerrar:hover,
.cerrar:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.boton-ver-detalles {
    padding: 10px 20px;
    background-color: #a613e6;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.boton-ver-detalles:hover {
    background-color: #d87eff;
}


@media screen and (max-width: 768px) {
    .curso-section {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }
    
    .curso-section img{
        margin: 0;
    }
    .cursos-relacionados-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .caja-curso{
        width: 95%;
        max-width: none;
    }

    .botones-detalle-curso{
       width: 50%;
       justify-content: flex-start;
       gap: 25%;
    }
    
}

@media screen and (max-width: 480px){
    .docente-container{
        display: flex;
        flex-direction: column;
    }

    .cursos-relacionados-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .botones-detalle-curso{
        width: 50%;
        justify-content: flex-start;
        flex-direction: column;
     }

     .boton-inscripcion-empresa {
        margin-top: 10px;
    }

     
}