.caja-curso {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 20px auto;
}

.menu-container {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.menu-button {
    background-color: violet;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-content .subopcion {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: black;
}

.menu-content .subopcion:last-child {
    border-bottom: none;
}

.subopcion .texto {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.subopcion .texto .duracion {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}

.subopcion .texto .duracion img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.subopcion input[type="checkbox"] {
    accent-color: violet;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

