*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    padding: 5% 15%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.creation{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between; 
    gap: 5%;
   
}

/*---Vista GIFT CARD---*/
.creation .view{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 100%;
}
.creation .view .view__giftcard, .muestra{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondos/fondo5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px outset #4074C9 ;
    border-radius: 0.3em;
    position: relative;
    align-items: center;
    justify-content: center;
}
.creation .view .view__giftcard .view__giftcard-price, .monto{
    padding: 2%;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 0%;
}
.creation .view .view__giftcard .view__giftcard-text, .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creation .view .view__giftcard .view__giftcard-text-dedicacion, .dedicacion{
    align-self: center;
    font-size: 1rem;
    color: #000000;
}
.creation .view .view__giftcard .view__giftcard-text-destinatario, .destinatario{
    align-self: center;
    color: #000000;
    font-size: 2.5rem;
    background-color: transparent;
    padding: 0%;
}
.creation .view .view__text{
    text-align: center;
    text-transform: uppercase;
}

/*---Formulario---*/

.creation .form{
    width: 40%;
    max-width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
   
  }
  .creation .form .form__election {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 100%;
  }
.creation .form .form__election .form__election-destinatario{
    display: flex;
    align-items: center;
}

.caja1{
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
    width: 100%;
    max-width: 100%;
}
.caja2{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}
.caja3{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.circle{
    width: 2em;
    height: 2em;
    border-radius: 50% 50%;
    border: 0.1em #000000 solid;
    transition: transform 0.2s ease; 
    cursor: pointer;
}
.circle1{ background-color: #ff0000;}
.circle2{ background-color: #A435f0;}
.circle3{ background-color: #0000ff;}
.circle4{ background-color: #000000;}
.circle5{ background-color: #ffffff;}
.circle:hover{  
    border: 0.1em #A435F0 solid; 
    box-shadow: 0em 0.2em 5px rgba(176, 90, 192, 0.6);
    transform: scale(1.1);
}

.creation .form .form__election .form__election-price{
    display: flex;
    align-items: center;
    gap: 0.5em;
} 

.text-bar{
    flex-grow: 1;
    padding: 0.2em;
    border-style: solid;
    border-radius: 0.5em;
    font-size: 1rem;
}
.text-bar:hover{
    border-color:#A435F0 ;
}
.text-bar:focus{
    outline-color:#A435F0 ;
}

.square{
    width: 3.5em;
    height: 2.5em;
    box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
    border: 0.1em solid rgba(0, 0, 0, 0) ; 
    transition: transform 0.2s ease; 
    cursor: pointer;
}
.square:hover{
    border: 0.1em solid #A435F0;
    box-shadow: 0.2em 0.2em 3px rgba(176, 90, 192, 0.6);
    transform: scale(1.1);
}
.top-left{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.1em solid;
}
.top-right{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border: 0.1em solid;
}
.bottom-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 0.1em solid;
}
.bottom-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0.1em solid;
}
.price-tag{
    width: 1.5em;
    height: 0.7em;
    background-color: #000000;
}

.button-form{
    text-align: center;
    font-size: 0.8em;
    text-decoration: none; 
    border: 0.1em solid rgba(0, 0, 0, 0.79);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold; 
    background-color: transparent;
    box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
    color:rgba(0, 0, 0, 0.79);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.button-form:hover{
    border: none;
    background-color: #A435F0; 
    box-shadow: 0 0 5px rgba(176, 90, 192, 0.5); 
    color: rgb(255, 255, 255);
}

.size{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.size:hover{
    color: #A435F0 ;
    transform: scale(1.1);
}

/*RESPONVE, QUERIES */
       
@media (max-width: 1024px) {
    .main{
        padding: 5% 10%;
    }
    .creation .view .view__giftcard{
        height: 70%;
    }
}

@media (max-width: 768px) {
    .square{
        width: 3em;
        height: 2.3em;
    }
    .creation .view .view__giftcard{
        height: 50%;
    }
    .creation .form {
    width: 80%;
    max-width: 100%;
    }
}

@media (max-width:550px) {
    .creation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .creation .view .view__giftcard{
        height: 15em;
    }
    .form__election-fondo-item{
        display: flex;
        flex-wrap: wrap;
    }
    .creation .form {
        width: 100%;
        max-width: 100%;
        }
}
@media (max-width:375px){
    .creation .view .view__giftcard{
        height: 13em;
    }
    .creation .view .view__giftcard .view__giftcard-text-dedicacion, .dedicacion{
        font-size: 0.8rem;
    }
    .creation .view .view__giftcard .view__giftcard-text-destinatario, .destinatario{
        font-size: 1.75rem;
    }
    .px55{
        display: none;
    }
}