*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
   
    
}
.creation{
    width: 80% ;
    margin: 0% 10%;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    gap: 4em;
   
}

/*---Vista GIFT CARD---*/
.creation .view{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  
   
}
.creation .view .view__giftcard{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondos/fondo5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px outset #4074C9 ;
    border-radius: 5px;
    gap: 5em;
}
.creation .view .view__giftcard .view__giftcard-price{
    padding: 2%;
    font-size: 1rem;
    align-self: flex-end;
    background-color: #000000;
    color: #ffffff
}
.creation .view .view__giftcard .view__giftcard-text{
    display: flex;
    flex-direction: column;
}
.creation .view .view__giftcard .view__giftcard-text-dedicacion{
    align-self: center;
    font-size: 1rem;
    color: #000000;
}
.creation .view .view__giftcard .view__giftcard-text-destinatario{
    align-self: center;
    color: #000000;
    font-size: 2.5rem;
    background-color: transparent;
    padding: 0%;
}
.creation .view .view__text{
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

/*---Formulario---*/

.creation .form{
    width: 40%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
   
  }
  .creation .form .form__election {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
.creation .form .form__election .form__election-destinatario{
    display: flex;
    align-items: center;
}

.caja1{
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
}
.caja2{
    display: flex;
    gap: 1em;
}
.caja3{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.circle{
    width: 2em;
    height: 2em;
    border-radius: 50% 50%;
    border: 0.1em #000000 solid;
    transition: transform 0.2s ease; 
    cursor: pointer;
}
.circle1{ background-color: #ff0000;}
.circle2{ background-color: #A435f0;}
.circle3{ background-color: #0000ff;}
.circle4{ background-color: #000000;}
.circle5{ background-color: #ffffff;}
.circle:hover{  
    border: 0.1em #A435F0 solid; 
    box-shadow: 0em 0.2em 5px rgba(176, 90, 192, 0.6);
    transform: scale(1.1);
}

.creation .form .form__election .form__election-price{
    display: flex;
    align-items: center;
    gap: 0.5em;
} 

.text-bar{
    flex-grow: 1;
    padding: 0.2em;
    border-style: solid;
    border-radius: 0.5em;
    font-size: 1rem;
}
.text-bar:hover{
    border-color:#A435F0 ;
}
.text-bar:focus{
    outline-color:#A435F0 ;
}

.square{
    width: 3.5em;
    height: 2.5em;
    box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
    border: 0.1em solid rgba(0, 0, 0, 0) ; 
    transition: transform 0.2s ease; 
    cursor: pointer;
}
.square:hover{
    border: 0.1em solid #A435F0;
    box-shadow: 0.2em 0.2em 3px rgba(176, 90, 192, 0.6);
    transform: scale(1.1);
}
.top-left{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.1em solid;
}
.top-right{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border: 0.1em solid;
}
.bottom-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 0.1em solid;
}
.bottom-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0.1em solid;
}
.price-tag{
    width: 1.5em;
    height: 0.7em;
    background-color: #000000;
}

.button-form{
    text-align: center;
    font-size: 0.8em;
    text-decoration: none; 
    border: 0.1em solid rgba(0, 0, 0, 0.79);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold; 
    background-color: transparent;
    box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
    color:rgba(0, 0, 0, 0.79);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.button-form:hover{
    border: none;
    background-color: #A435F0; 
    box-shadow: 0 0 5px rgba(176, 90, 192, 0.5); 
    color: rgb(255, 255, 255);
}

.size{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.size:hover{
    color: #A435F0 ;
    transform: scale(1.1);
}

/*RESPONVE, QUERIES */
       
@media  (max-width: 830px) and (min-width: 481px) {
    .creation {
        margin: 0 0;
        width: 100%;
       
    }
    
 .creation .view{
     width: 48%;
     margin-right: 2%;
      
      
  }
  .creation .view .view__giftcard{
      width: 100%;
      background-size: 100% 100%;
    
  }
  
  .creation .form {
     width: 48%;
     margin-left: 2%;
     font-size: 12px;
     
  }
  
}
       
@media  (max-width: 680px) and (min-width: 481px) {
    .creation {
        gap:0;
    }
    .creation .view{
        margin-right: 1%;
        width:49%;
        
    }

    .creation .view .view__giftcard{
        width: 100%;
        height: 70%;
        background-size: 100% 100%;
        background-position:center;
        
       
    }
   
    .view__text {
        font-size: 15px;
    }
    .creation .view .view__giftcard .view__giftcard-text-destinatario {
        font-size: 25px;
    }

    .creation .form {
       width: 48%;
       margin-left: 2%;
       font-size: 9px;
    }
    .caja2 {
        gap: 0.3em;
    }
    
    .caja2 .form__election-fondo-item-square .square  {
       width: 35px;
       height: auto;
       
    }
    .form__election-price .price-tag {
        font-size: 9px;
    }
    .text-bar {
        width: 10px;
    }
    .text-bar::placeholder {
        font-size: 11px;
    }
    
    
}



@media screen and (max-width: 480px) {
   
.creation{
   display: flex;
   flex-direction: column;
   margin: 0 0;
   padding: 0 0;
   width: 100%;

    
    
}
.creation .form {
    width: 100%;
    border-left:none;
    font-size: 10px;
}
.creation .view {
    width: 100%;
}
.creation .view .view__giftcard {
    width:100% ;
    height: 300px;
    background-size: 100% 100%;
   
  
}

.view__text {
    font-size: 12px;
}

.creation .view .view__giftcard .view__giftcard-text-dedicacion{
    font-size: 12px;
}

.creation .view .view__giftcard .view__giftcard-text-destinatario{
    font-size:15px ;
}


.caja2 {
    gap: 0.5em;
}
.form__election-ubicacion.caja1  {
   width: 98%;
  
   
}
.form__election-ubicacion.caja1 .form__election-ubicacion-item-tag {
    width: 20%;
    height: 70px;
    
    
}
.form__election-ubicacion-item-tag .square  {
    width: 100%;
    height: 70%;
   
}

.form__election-fondo-item {
    gap: 0.2rem;
}

.caja2 .form__election-fondo-item-square .square  {
   width: 80%;
   height: auto;   
}
.caja2 .form__election-fondo-item-square {
    gap: 0;
   
}
.caja2 .form__election-fondo-item-square input {
    align-self: center;
    width: 10px
}
.form__election-entrega {
    display: flex;
    justify-content: flex-start;
    gap: 0.2em;
  
}
.button-form {
    text-align: center;
    padding: 2px 2px;
    width: 65px;
    height: 25px;
    font-size: 10px;
    margin-left: 2px;
}
.form__election-entrega .a {
    width: 65px;
    padding: 2px 2px;
    font-size: 10px;
}


.form__election-price label{
    font-size: 12px;
    width: 25%;
}
.text-bar{
      width: 80%;
      
}

.text-bar::placeholder{
    font-size: 10px;
    
}

}