* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body{
    background-color: #f9f9f9;
}

h2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #333;
    background-color: #f9f9f9;
}


.header {
    display: flex;
    flex-direction: column;
}

.header .header-container {
    min-height: 56px;
    box-sizing: border-box;
    padding: 8px 16px;
    margin: 4px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header .nav-bar .nav-bar__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase;
}

.button{
    text-decoration: none;
    color: black;
    font: 18px;
}

.button:hover{
    color: purple;
}

.header .nav-bar .nav-bar__menu .nav-bar__menu-item {
    margin: 0 15px;
}

.header_logo {
    width: 200px;
    height: 100px;

}

.search-container {
    position: relative;
    width: 60%;
}

.search-bar {
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: 2px sold #ccc;
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.688);

}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.header .header-container .carrito-container {
    position: relative;
    display: inline-block;
}

.header .header-container .carrito-container .header.carrito {
    display: block;
}

.header .header-container .carrito-container .numero {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: rgba(216, 65, 65, 0.862);
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;

}

.slider-container{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
}

.slider-img{
    width: 100%;
    height: auto;
    display: block;
}

.arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-style: none;
}

.arrow-left{
    left: 10px;
}

.arrow-right{
    right: 10px;
}

.arrow-icon{
    width: 100%;
    height: 100%
}
/* PASOS PARA INSCRIBIRSE*/
.pasos-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;

}

.paso img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.paso{
    position: relative;
    background-color: #fff;
    border: 1px sold #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.paso-numero{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #ff6f61;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 18px;
    font-weight: bold;


}

.paso h3{
    font-size: 18px;
    margin: 0;
    color: #333;
}

.paso p{
    font: 14px;
    color: #666;
    margin: 0;
}


/* CURSOS DESTACADOS */

.cursos-destacados-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.cursos-destacados__container{
    background-color: #fff;
    border: 1px sold #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cursos-destacados__container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.precio{
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    bottom: 50%;
    right: 1px;

}

.cursos-destacados__info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursos-destacados__info-nombre{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cursos-destacados__info-nombre h3{
    margin: 0 0 10px;
    font: 18px;
    color: #333;
}


.cursos-destacados__info .horas{
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.cursos-destacados__info-nombre a{
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}

.boton-comprar{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #218838;
}


/*MEDIOS DE PAGO*/

.medios-pago{
    text-align: center;
    margin-bottom: 20px;
}

.medios-pago h2{
    font-size: 24px;
    color: #333;
}

.imagenes-pago{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 20px;
    background-color: #f9f9f9;
}

.imagenes-pago img{
    width: 120px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: none;
}


/* FOOTER */

.footer{
    background-color: #edededae;
    padding: 2em 5em;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.footer-row__box{
    width: 25%;
}

.footer-row--social{
    display: flex;
    flex-direction: column;
}

.footer-row ul li a:hover, .footer-row--social a:hover{
    color: rgb(175, 55, 244);
    transition: all .2s ease;
    padding-left: .07em;
}

.footer-row ul li a:hover, .footer-row--social a:active{
    color: rgb(125, 0, 198);
}

.footer-row__box h4{
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: .4em;
}

.footer-row ul li a, .footer-row ul li, .footer-row--social a, .footer-row__box__integrante{
    text-decoration: none;
    font-size: .95rem;
    padding: .4em 0;
    color: rgb(74, 74, 74);
}

.footer-row i{
    padding-right: .2em;
}

.footer-row__box__integrante{
    font-size: .90rem;
    border-top: .1em solid rgba(105, 105, 105, 0.5) ;
}

.footer-row__box__integrante:nth-child(2){
    border-style:none;
}